body {
  color: white;
  background: black;
}

#GameWindow {
  position: relative;
  background: lightgray;
}
#GameSpace {
  position: absolute;
  width: 100%;
  height: 100%;
}
#UI {
  position: absolute;
  width: 100%;
  height: 100%;
}

.GunGen-sprite {
  image-rendering: pixelated;
}

/* #region components */

.GunGen-gunPart {
}

.GunGen-grabTarget {
  position: absolute;
}

.GunGen-grabSource {
  position: absolute;
  cursor: move;
  /* z-index: 999; */

  background-color: rgba(255, 0, 0, 0.116);
}

.GunGen-attachHost {
}

.GunGen-attachable {
  position: absolute;
}

/* #endregion */